<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usuário</title>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
        @media(max-width: 992px) {
            .card {
                margin: 0 auto;
            }
        }
        
        .logo {
        	width: 135px; 
        	height: 60px;
        }
        
        @media(max-width: 568px) {
            .logo {
	        	width: 100px;
	        	height: 50px;
	        }
        }
    </style>
</head>
<body>
<header>
<div class="container-fluid px-md-4 px-2 bg-warning">
	    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-between py-3 mb-4 border-bottom">
	      <a href="/index" class="mb-2 text-dark text-decoration-none">
	        <img src="/assets/images/logo-vasos.png" class="logo" alt="img-logo">
	      </a>
	
	      <div>
            <a href="/login" class="me-1"><img src="/assets/images/login.png" alt="Login"><span class="me-3">Login</a></span>
            <a href="/cadastropessoa" class="me-1"><img src="/assets/images/registration.png" alt="Registrar"><span class="me-3">Criar login</a></span>
            <a href="/index" class="me-3"><img src="/assets/images/carrinho.png" alt="Comprar"></a>
	      </div>
	    </header>
	  </div>
</header>
<table border="1" class="table table-striped table-responsive-md" id="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Email</th>
					<th>CPF</th>
					<th>Grupo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td th:text="${pessoa.id}"></td>
				<td th:text="${pessoa.nome}"></td>
				<td th:text="${pessoa.email}"></td>
				<td th:text="${pessoa.cpf}"></td>
				<td th:text="${pessoa.admin} ? Administrador : Backoffice"></td>
				<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}" >Editar</a></td>
			</tr>
			</tbody>
	</table>
</body>