<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<table border="1" class="table table-striped table-responsive-md" id="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Email</th>
					<th>CPF</th>
					<th>Senha</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="pessoa : ${pessoas}">
				<td th:text="${pessoa.id}"></td>
				<td th:text="${pessoa.nome}"></td>
				<td th:text="${pessoa.email}"></td>
				<td th:text="${pessoa.cpf}"></td>
				<td></td>
				<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}" >Editar</a></td>
				<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}" 	class="btn btn-danger" th:text="${pessoa.status} ? 'Desativar' : 'Ativar'"> Excluir</a></td>
			</tr>
			</tbody>
	</table>
</body>
<script>
$(document).ready( function () {
    $('#table').DataTable();
} );
</script>