<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<title>Carrinho de compras</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	
	<div class="container">
		<div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produto</th>
                            <th scope="col">Estoque</th>
                            <th scope="col" class="text-center">Quantidade</th>
                            <th scope="col" class="text-right">Valor Unitário</th>
                            <th scope="col" class="text-right">Valor Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${listaItens}">
                            <td><img th:src="@{/produto/mostrarImagem/{imagem}(imagem=${item.produto.image_url})}" class="img-fluid" alt="Card image cap" style=" max-height: 5rem;"> </td>
                            <td th:text="${item.produto.name}"></td>
                            <td></td>
                            
                            <td> <span th:text="${item.quantidade}"></span>               
                            <a class="btn btn-sm btn-success"
                            th:href="@{/alterarQuantidade/{produtoid}/{acao} (produtoid=${item.produto.id},acao=${1})}" role="button">
                            <i class="fa fa-plus"></i> 
                            </a>
                            
                            <a class="btn btn-sm btn-success"
                            th:href="@{/alterarQuantidade/{produtoid}/{acao} (produtoid=${item.produto.id},acao=${0})}" role="button">
                            <i class="fa fa-minus"></i> 
                            </a>
                            </td>
                            
                            <td class="text-right" th:text="${item.valorUnitario}"> R$</td>
                            <td class="text-right" th:text="${item.valorTotal}"> R$</td>
                            <td class="text-right">
                           <a class="btn btn-sm btn-danger"
                            th:href="@{/removerProduto/{produtoid} (produtoid=${item.produto.id})}" role="button">
                            <i class="fa fa-trash"></i> 
                            </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right"><span th:text="${compra.valorTotal}"></span></td>
                        </tr>
                        <tr>
                            <td><div class="form-outline mb-4">
                    <label class="form-label" for="cep" style="display: block">CEP</label>
                    <input th:value="${compra.cepCliente}" name="cep" th id="cep" class="form-control form-control-lg col-6" required/>
                      <button type="submit" onClick="buscarCEP()" class="btn btn-success btn-lg gradient-custom-4 text-body" style="background-color: #ffc107; border-color: #ffc107; float: right;" value="Buscar">Buscar</button>
                  </div></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1" checked>
  <label class="form-check-label" for="exampleRadios1">Normal - 4 dias úteis
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2">
  <label class="form-check-label" for="exampleRadios2">Expressa - 3 dias úteis
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="3">
  <label class="form-check-label" for="exampleRadios2">Urgente - 2 dias úteis
  </label>
</div></td>
                            <td>Frete</td>
                            <td class="text-right" id="valorFrete"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><span th:text="${compra.valorTotal}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                    </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6 text-right">
                    <a class="btn btn-lg btn-block btn-success" href="/" style="background:black;">Continue Comprando</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                  <a class="btn btn-lg btn-block btn-success text-uppercase"
                            th:href="selecaoEndereco" role="button">
                            Escolher endereço de entrega
                            </a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var frete = 0;

    function buscarCEP() {
        let CEP = $("#cep").val().replace("-", "");
        let settings = {
            "url": "https://viacep.com.br/ws/" + CEP + "/json/",
            "method": "GET",
            "timeout": 0,
        };
        $.ajax(settings).done(function (response) {
            console.log(response)
            let estado = response.uf;
            let cidade = response.localidade;


            switch(estado){
                case "SP":
                    if(cidade == "São Paulo"){
                        frete = 9.99;
                    }else{
                        frete = 14.99;
                    }
                    break;
                case "MG":
                    if(cidade == "Belo Horizonte"){
                        frete = 16.99;
                    }else{
                        frete = 21.99
                    }
                    break;
                case "RJ":
                    if(cidade == "Rio De Janeiro"){
                        frete = 14.69;
                    }else{
                        frete = 20;
                    }
                    break;
                case "MA":
                    if(cidade == "São Luís"){
                        frete = 25.59;
                    }else{
                        frete = 32;
                    }
                    break;
                case "MT":
                    if(cidade == "Cuiabá"){
                        frete = 19.25;
                    }else{
                        frete = 24.75;
                    }
                    break;
                case "MS":
                    if(cidade == "Campo Grande"){
                        frete = 22;
                    }else{
                        frete = 26.78;
                    }
                    break;
                case "BA":
                    if(cidade == "Salvador"){
                        frete = 29.30;
                    }else{
                        frete = 36;
                    }
                    break;
                case "PR":
                    if(cidade == "Belém"){
                        frete = 17.21;
                    }else{
                        frete = 19.66;
                    }
                    break;
                case "PN":
                    if(cidade == "Curitiba"){
                        frete = 12.50;
                    }else{
                        frete = 17;
                    }
                    break;
                case "SC":
                    if(cidade == "Florianópolis"){
                        frete = 16.50;
                    }else{
                        frete = 18.20;
                    }
                    break;
                case "RS":
                    if(cidade == "Porto Alegre"){
                        frete = 32.50;
                    }else{
                        frete = 36.78;
                    }
                    break;
                case "RR":
                    if(cidade == "Boa Vista"){
                        frete = 36.40;
                    }else{
                        frete = 39.99;
                    }
                    break;
                case "RO":
                    if(cidade == "Porto Velho"){
                        frete = 39.55;
                    }else{
                        frete = 42.60;
                    }
                    break;
                case "AC":
                    if(cidade == "Rio Branco"){
                        frete = 55;
                    }else{
                        frete = 59.99;
                    }
                    break;
                case "AL":
                    if(cidade == "Maceió"){
                        frete = 32;
                    }else{
                        frete = 35.99;
                    }
                    break;
                case "AP":
                    if(cidade == "Macapá"){
                        frete = 65;
                    }else{
                        frete = 67.99;
                    }
                    break;
                case "AM":
                    if(cidade == "Manaus"){
                        frete = 42;
                    }else{
                        frete = 47.99;
                    }
                    break;
                case "CE":
                    if(cidade == "Fortaleza"){
                        frete = 32;
                    }else{
                        frete = 35.99;
                    }
                    break;
                case "ES":
                    if(cidade == "Vitória"){
                        frete = 21;
                    }else{
                        frete = 23.66;
                    }
                    break;
                case "GO":
                    if(cidade == "Goiania"){
                        frete = 26;
                    }else{
                        frete = 28.69;
                    }
                    break;
                case "PB":
                    if(cidade == "João Pessoa"){
                        frete = 36;
                    }else{
                        frete = 38.59;
                    }
                    break;
                case "PI":
                    if(cidade == "Teresina"){
                        frete = 45;
                    }else{
                        frete = 49.59;
                    }
                    break;
                case "TO":
                    if(cidade == "Palmas"){
                        frete = 27;
                    }else{
                        frete = 31.50;
                    }
                    break;
                case "SE":
                    if(cidade == "Aracaju"){
                        frete = 32;
                    }else{
                        frete = 35.99;
                    }
                    break;
                case "RN":
                    if(cidade == "Natal"){
                        frete = 41;
                    }else{
                        frete = 43;
                    }
                    break;
                case "PE":
                    if(cidade == "Recife"){
                        frete = 46;
                    }else{
                        frete = 48.30;
                    }
                    break;
                case "DF":
                    if(cidade == "Brasilia"){
                        frete = 46;
                    }else{
                        frete = 48.30;
                    }
                    break;
                default:
                    frete = 50
            }

            $('#valorFrete').text("R$ "+frete);

            console.log(frete);
        });
    }

    $('#form-check-input').click(function(){
        if($this.val() == 2){
            frete = frete * 1.5;
            $('#valorFrete').text("R$ "+frete);
        }else if($this.val() == 3){
            frete = frete * 2;
            $('#valorFrete').text("R$ "+frete);
        }
    })
</script>
</html>