<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<title>Carrinho de compras</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	
	<div class="container">
		<div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produto</th>
                            <th scope="col">Estoque</th>
                            <th scope="col" class="text-center">Quantidade</th>
                            <th scope="col" class="text-right">Valor Unitário</th>
                            <th scope="col" class="text-right">Valor Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${listaItens}">
                            <td><img th:src="@{/produto/mostrarImagem/{imagem}(imagem=${item.produto.image_url})}" class="img-fluid" alt="Card image cap" style=" max-height: 5rem;"> </td>
                            <td th:text="${item.produto.name}"></td>
                            <td></td>
                            
                            <td> <span th:text="${item.quantidade}"></span>               
                            <a class="btn btn-sm btn-success"
                            th:href="@{/alterarQuantidade/{produtoid}/{acao} (produtoid=${item.produto.id},acao=${1})}" role="button">
                            <i class="fa fa-plus"></i> 
                            </a>
                            
                            <a class="btn btn-sm btn-success"
                            th:href="@{/alterarQuantidade/{produtoid}/{acao} (produtoid=${item.produto.id},acao=${0})}" role="button">
                            <i class="fa fa-minus"></i> 
                            </a>
                            </td>
                            
                            <td class="text-right" th:text="${item.valorUnitario}"> R$</td>
                            <td class="text-right" th:text="${item.valorTotal}"> R$</td>
                            <td class="text-right">
                           <a class="btn btn-sm btn-danger"
                            th:href="@{/removerProduto/{produtoid} (produtoid=${item.produto.id})}" role="button">
                            <i class="fa fa-trash"></i> 
                            </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right"><span th:text="${compra.valorTotal}"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Frete</td>
                            <td class="text-right"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><span th:text="${compra.valorTotal}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                    </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6 text-right">
                    <a class="btn btn-lg btn-block btn-success" href="/" style="background:black;">Continue Comprando</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>